<header class="container-fluid header sticky-top">
    <div class="container-md navBar">
        <h1>Clubes</h1>
        <nav class="nav">
            <li class="primero">
                <a class="link-nav" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="link-nav" routerLink="/registro">Registro</a>
            </li>
            <li class="nav-item">
                <a class="link-nav" routerLink="/login">Iniciar sesión</a>
            </li>                       
        </nav>
    </div>
</header>

