<form autocomplete="off" class="formulario" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Grupo: Folio -->
    <div  id="grupo__folio" class="formulario__grupo"
        [ngClass]="campoNoValido('folio') ? 'formulario__grupo formulario__grupo-incorrecto' : campoValido('folio')">
        <label for="int_folio" class="formulario__label">N° de folio de la ficha *</label>
        <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" id="int_folio"
                    formControlName="folio">
            <i [ngClass]="campoNoValido('folio') ? 'formulario__validacion-estado fas fa-times-circle' : 'formulario__validacion-estado fas fa-check-circle'"></i>
        </div>
        <p class="formulario__input-error">El folio solo debe contener numeros y 4 digitos.</p>
        <!-- <p class="text-danger"
            *ngIf="campoNoValido('folio')">
            El folio solo debe contener numeros y 4 digitos.</p> -->
    </div>

    <!-- Grupo: Nombre -->
    <div class="formulario__grupo" id="grupo__nombre" 
        [ngClass]="campoNoValido('nombre') ? 'formulario__grupo formulario__grupo-incorrecto' : campoValido('nombre')">
        <label for="txt_nombre" class="formulario__label">Nombre *</label>
        <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="txt_nombre" id="txt_nombre"
                    formControlName="nombre">
            <i [ngClass]="campoNoValido('nombre') ? 'formulario__validacion-estado fas fa-times-circle' : 'formulario__validacion-estado fas fa-check-circle'"></i>
        </div>
        <p class="formulario__input-error">El nombre solo debe contener letras.</p>
    </div>

    <!-- Grupo: Apellidos -->
    <div class="formulario__grupo" id="grupo__apellidos"
        [ngClass]="campoNoValido('apellidos') ? 'formulario__grupo formulario__grupo-incorrecto' : campoValido('apellidos')">
        <label for="txt_apellidos" class="formulario__label">Apellidos *</label>
        <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="txt_apellidos" id="txt_apellidos"
                    formControlName="apellidos">
            <i [ngClass]="campoNoValido('apellidos') ? 'formulario__validacion-estado fas fa-times-circle' : 'formulario__validacion-estado fas fa-check-circle'"></i>
        </div>
        <p class="formulario__input-error">Los apellidos solo debe contener letras.</p>
    </div>

    <!-- Grupo: Teléfono -->
    <div class="formulario__grupo" id="grupo__telefono"
        [ngClass]="campoNoValido('telefono') ? 'formulario__grupo formulario__grupo-incorrecto' : campoValido('telefono')">
        <label for="txt_telefono" class="formulario__label">Teléfono *</label>
        <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="txt_telefono" id="txt_telefono"
                    formControlName="telefono">
            <i [ngClass]="campoNoValido('telefono') ? 'formulario__validacion-estado fas fa-times-circle' : 'formulario__validacion-estado fas fa-check-circle'"></i>
        </div>
        <p class="formulario__input-error"> El telefono solo puede contener numeros y el maximo son 10 dígitos.</p>
    </div>

    <!-- Grupo: Correo Electronico -->
    <div class="formulario__grupo" id="grupo__correo"
        [ngClass]="campoNoValido('correo') ? 'formulario__grupo formulario__grupo-incorrecto' : campoValido('correo')">
        <label for="txt_correo" class="formulario__label">Correo Electrónico *</label>
        <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="txt_correo" id="txt_correo"
                    formControlName="correo">
            <i [ngClass]="campoNoValido('correo') ? 'formulario__validacion-estado fas fa-times-circle' : 'formulario__validacion-estado fas fa-check-circle'"></i>
        </div>
        <p class="formulario__input-error">Correo electrónico incorrecto.</p>
    </div>

    <!-- Grupo: Carrera -->
    <div class="formulario__grupo" id="grupo__carrera"
        [ngClass]="campoNoValido('carrera') ? 'formulario__grupo formulario__grupo-incorrecto' : 'formulario__grupo'">
        <label for="lst_carrera" class="formulario__label">Carrera *</label>
        <div class="formulario__grupo-input">
            <select class="formulario__input" name="lst_carrera" id="txt_carrera"
                    formControlName="carrera">
                <option>ING. EN SISTEMAS</option>
                <option>ING. EN MECATRÓNICA</option>
                <option>ING. EN GESTIÓN EMPRESARIAL</option>
                <option>ING. INDUSTRIAL</option>
                <option>ING. EN BIOQUÍMICA</option>
                <option>ING. EN NANOTECNOLOGIA</option>
                <option>ING. EN TICS</option>
            </select>
        </div>
        <p class="formulario__input-error">Debe seleccionar una opción</p>
    </div>

    <!-- Grupo: Genero -->
    <div class="formulario__grupo" id="grupo__genero"
        [ngClass]="campoNoValido('sexo') ? 'formulario__grupo formulario__grupo-incorrecto' : 'formulario__grupo'">
        <label for="mas" class="formulario__label">Genero *</label>
        <div class="formulario__grupo-input gen">
            <input type="radio" id="M" value="M" 
                    formControlName="sexo"><span> M </span>
            <input type="radio" id="F" value="F"
                    formControlName="sexo"><span> F </span>
        </div>
        <p class="formulario__input-error">Debe elegir una opción</p>
    </div>

    <!-- Grupo: Club -->
    <div class="formulario__grupo" id="grupo__club"
        [ngClass]="campoNoValido('clave_club') ? 'formulario__grupo formulario__grupo-incorrecto' : 'formulario__grupo'">
        <label for="lst_club" class="formulario__label">Elige el club de tu interes *</label>
        <div class="formulario__grupo-input">
            <select class="formulario__input" name="lst_club" id="txt_club"
                    formControlName="clave_club">
                <option *ngFor="let club of clubes" [value]="club.id">{{club.nombre}}</option>                
            </select>
        </div>
        <p class="formulario__input-error">Debe seleccionar una opción</p>
    </div>

    <!-- Grupo: Club2 -->
    <div class="formulario__grupo" id="grupo__club2"
        [ngClass]="campoNoValido('club_alternativo') ? 'formulario__grupo formulario__grupo-incorrecto' : 'formulario__grupo'">
        <label for="lst_club2" class="formulario__label">Elige tú segunda opcion de un club *</label>
        <div class="formulario__grupo-input">
            <select class="formulario__input" name="lst_club2" id="txt_club2"
                    formControlName="club_alternativo">
                <!-- <option disabled selected>--- Seleccione ---</option> -->
                <option *ngFor="let club of clubes" [value]="club.nombre">{{club.nombre}}</option>
            </select>
        </div>
        <p class="formulario__input-error">Debe seleccionar una opción</p>
    </div>

    <!-- Grupo: Alergias -->
    <div class="formulario__grupo" id="grupo__alergia"
        [ngClass]="campoNoValido('alergias') ? 'formulario__grupo formulario__grupo-incorrecto' : 'formulario__grupo'">
        <label for="txt_alergia" class="formulario__label">¿Tienes alguna alergia? <br> (describe-las)</label>
        <div class="formulario__grupo-input">
            <textarea class="formulario__input estilotextarea" name="txt_alergia" id="txt_alergia"
                    formControlName="alergias"></textarea>
        </div>
        <p class="formulario__input-error">Limite de palabras excedido.</p>
    </div>

    <!-- Grupo: Situacion medica -->
    <div class="formulario__grupo" id="grupo__situacionMedica"
        [ngClass]="campoNoValido('situacion_medica') ? 'formulario__grupo formulario__grupo-incorrecto' : 'formulario__grupo'">
        <label for="txt_situacionMedica" class="formulario__label">Alguna situación medica (lesión u operación
            de las cuales requiera saber tu instructor)</label>
        <div class="formulario__grupo-input">
            <textarea class="formulario__input estilotextarea" name="txt_situacionMedica" id="txt_situacionMedica"
            formControlName="situacion_medica"></textarea>
        </div>
        <p class="formulario__input-error">Limite de palabras excedido.</p>
    </div>


    <!-- <div class="formulario__mensaje" id="formulario__mensaje">
        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
    </div> -->
    
    <div class="formulario__grupo-btn-enviar">
        <div class="alert alert-danger " role="alert" *ngIf="mostrarAlerta" >
            <p><b>Error:</b> Por favor completa el formulario correctamente.</p>
        </div>
    </div>

    <div class="formulario__grupo formulario__grupo-btn-enviar">
        <button type="submit" class="formulario__btn">Registrar</button>
        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
    </div>

</form>


<!-- <h5>Valor del formulario</h5>
<pre>{{ miFormulario.value|json}}</pre><br>

<h3>Nombre</h3>
<pre>{{miFormulario.errors|json}}</pre>

<h2>Folio</h2>
<pre>{{miFormulario.controls.folio.errors|json}}</pre>

<h5>Valid</h5>
<pre>{{ miFormulario.valid}}</pre><br> -->